*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}
body{
  background:rgb(245, 241, 235);
  color:rgb(28,28,28);
}
.hero{
  background:rgb(28,59,54);
  color:white;
  min-height:100vh;
  padding:20px 60px;
  
}
nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

